/* Este .css se crea a partir de la compilacion del archivo styles.scss */
@charset "UTF-8";
.header__logo img {
  width: 350px;
}

.navbar-nav a:hover {
  transition: 0.3s;
  border-bottom-color: #fab434;
  border-bottom-style: solid;
  border-width: 3px;
}

.footer {
  display: grid;
  grid-template-rows: 0.25fr 1fr 1fr; /* se emplea grid para bloques de footer */
  background-color: black;
  border-bottom-width: 5px;
  border-top-color: #fab434;
  border-top-style: solid;
}

.footer {
  /* Segundo bloque de grid contiene los iconos que se ordenan con flexbox */
}
.footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer ul li {
  margin: 20px;
  max-height: min-content;
}

.footer ul li img {
  width: 60px;
}
@media screen and (max-width: 400px) {
  .footer ul li img {
    width: 35px;
  }
}
@media screen and (max-width: 1000px) {
  .footer ul li img {
    width: 40px;
  }
}

.footer p {
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
@media screen and (max-width: 400px) {
  .footer p {
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1000px) {
  .footer p {
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
  }
}

.footer ul li:hover {
  transition: 0.1s;
  border-bottom-width: 2px;
  border-bottom-color: white;
  border-bottom-style: solid;
  animation: tiembla 1s infinite;
}

@keyframes tiembla {
  0% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(0deg) scale(0.8);
  }
  100% {
    transform: rotateZ(5deg);
  }
} /* Animacion de temblor */
.footer__author p {
  background-color: black;
  color: white;
  font-size: 15px;
  padding-bottom: 5px;
}
@media screen and (max-width: 400px) {
  .footer__author p {
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__author p {
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
} /* Reseteo */
li {
  list-style: none; /* Saco viñetas de lista */
  text-decoration: none;
  text-decoration-style: none;
}

a {
  text-decoration: none;
  text-decoration-style: none;
  color: black;
}

.section_slide video {
  display: flex;
  width: 100%;
}

/* Ajuste para video provisorio hasta que se construya slide o carrusel */
.title_h1 {
  background-color: black;
  color: white;
  padding: 20px;
  letter-spacing: 5px;
  margin: auto;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #fab434;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #fab434;
}
@media screen and (max-width: 1088px) {
  .title_h1 {
    font-size: 20px;
    text-align: center;
  }
}

.container {
  /* Animacion de socios */
}
.container img:hover {
  transition: 0.3s;
  border-bottom-width: 5px;
  border-bottom-color: #fab434;
  border-bottom-style: solid;
}

.col img {
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
