@import 'variables';

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

.main_contacto{
    @include flex-column;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline; /* Texto y Form es una fila */
    
    @media screen and (max-width:1400px){ /* Texto y Form se convierte en columna para responsive */
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    }

}

.section_contacto{
    @include flex-column;
    justify-content: center;
    width: 50%;

    p{
        padding: 20px;
        font-size: 25px;
        line-height: 60px;
        color: black;
        text-align: justify;
        @media screen and (max-width:576px){
            
            font-size: 20px;
            
        }
    }

    a{
        color: black;
        font-size: 20px;
        line-height:100px;
        @media screen and (max-width:576px){
            
            font-size: 20px;
            
        }
    }

    ul{
        @include flex-column;
        @media screen and (max-width:1400px){
            align-items: center; 
        }
    
    }

    @media screen and (max-width:1400px){
        width: 100%;
    
    }

    @media screen and (max-width:650px){
        a{
            font-size: 15px;
        }
    }
    
}


.form{
    @include flex-column;
    text-align: center;
    width: 50%;
    padding: 20px;
    box-shadow: inset 0px 0px 30px map-get($colores, "orange-ingetec");
    border-radius: 30px;
    h2{
        text-align:center;
    }

    @media screen and (max-width:1400px){
        width: 75%;
    
    }

    @media screen and (max-width:576px){
        padding: 10px; 
    
    }
}

.form_style{
    padding: 20px;

    label{
        color:map-get($colores, "orange-ingetec");
        font-size: 20px; 
        @media screen and (max-width:576px){
            font-size: 15px;
        } 
    }
}

.form{
    input{
        color:black;
        @media screen and (max-width:420px){
            width:95%;
        }
        
    }

    textarea{
        width: 85%;
    
    }

    select{
        color: black;
    }
} 


.btn{
    justify-content: center;
    display: flex;
   
    .boton{
        background-color:map-get($colores, "orange-ingetec");
        border: none;  
        font-size: 20px; 
        border-radius: 15px;
        width: 180px;
        @media screen and (max-width:576px){
            font-size: 15px;
        }
        
    }
}

.section__mapa{
    margin-top: 50px;
    iframe{
        width: 100%;
    
    }
}


