//estilo para footer
@import 'variables';



.footer{

    display: grid;
    color: white;
    grid-template-rows:0.25fr 0.25fr 0.25fr;  
    background-color: black;
    border-bottom-width: 5px;
    border-top-color:map-get($colores, "orange-ingetec");
    border-top-style:solid;

    ul{
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content:center;
        

        li {
            margin: 20px;
            max-height:min-content;

            &:hover{
                transition: 0.5s;
                animation: tiembla 1s infinite;
            }

            img{
                width: 40px; 
                @media screen and (max-width: 540px){
                    width: 15px;
                }
                @media screen and (max-width: 1140px){
                    width: 25px;
    
                }
            
            }
        }
   
    }
    p{
    
        @extend .footer__author;
    } 

    p{
        text-align: center;
    }
    
}


@keyframes tiembla{
    0%  { transform:rotateZ(-5deg); }
    50% { transform:rotateZ( 0deg) scale(.8); }
    100%{ transform:rotateZ( 5deg); }
} /* Animacion de temblor */
   
.footer__author{
    display: flex;
    flex-direction: column;
    align-items:center;
    p{
        background-color: black;
        color: white;
        font-size: 15px;
        padding-bottom: 2px;
        text-align: center;
            @media screen and (max-width: 400px){
                font-size: 5px;  
            }
            @media screen and (max-width: 1000px){
                font-size: 10px;
            }

    }
}

