
@import 'variables';

.section_nosotros{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    p{
        width: 60%;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: justify;
        margin:30px;
        @media screen and (max-width: 1400px){
            width: 100%;

        }
        @media screen and (max-width: 1200px){
            width: 100%;
            font-size: 15px;
            letter-spacing: 0.5px;
            line-height: 40px;
            margin:15px;
            text-align:justify;
             
        } 
    }

    p {
        strong{
            background-color: white;
            color: map-get($colores, "orange-ingetec");
            font-size: 25px;
            letter-spacing: 1px;
        }
    }

    img{
        width: 40%;
        border-radius: 5px;
        box-shadow: 0 0 5px map-get($colores, "orange-ingetec");
        @media screen and (max-width: 1400px){
            display: none;

        }
    } /* valores ajustados para alcanzar ubicacion deseada de imagen */
}


.title_h2{
    display:block;
    background-color: black;
    color: white;
    letter-spacing: 5px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color:map-get($colores, "orange-ingetec");
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:map-get($colores, "orange-ingetec"); 
    padding: 10px;
    font-size: 20px;
    box-shadow: inset 0px 0px 5px map-get($colores, "orange-ingetec");
    border-radius: 5px;
        @media screen and (max-width: 1200px){
            text-align: justify;
            letter-spacing: 3px;
            border-top-width: 2px;
            border-bottom-width: 2px;
            font-size:15px;

        }
        @media screen and (max-width: 576px){
            text-align: center;
            letter-spacing: 3px;
            border-top-width: 2px;
            border-bottom-width: 2px;
            font-size:15px;

        }

}
.section_staff{
    display:flex;
    flex-wrap: nowrap;
    @media screen and (max-width: 1200px){
        justify-content: center;

    }
    @media screen and (max-width: 576px){
        display:flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    div{
        display: flex;
        flex-direction: column; /* conformo columna con imagen y datos de cada socio */
        justify-content: center;
        align-items: center;
        width: 33%;
        @media screen and (max-width: 576px){
            width: 100%; 
        }

        img{
            width: 50%; 
            @media screen and (max-width: 1200px){
                width: 40%;  
            } 
            @media screen and (max-width: 576px){
                width: 40%; 
            }
        }

        h3{
            text-align: center;
            font-size: 25px;
            padding: 10px;
            @media screen and (max-width: 1200px){
                text-align: center;
                font-size: 15px;
                padding: 10px;
            }
            @media screen and (max-width: 576px){
                text-align: center;
                font-size: 15px;
                padding: 10px;

            }
        }

        p{
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
            line-height: 30px;
            padding-left: 20px;
            padding-right: 20px;
            @media screen and (max-width: 1200px){
                text-align: center;
                margin-top: 10px;
                font-size: 15px;
            }
            @media screen and (max-width: 576px){
                text-align: center;
                margin-top: 10px;
                font-size: 15px;
            }
        }

        &:hover{
            transition: 0.3s ease-in-out; /* Transicion */
            box-shadow: inset 0px 0px 10px map-get($colores, "orange-ingetec");
            border-radius: 20px;
        }
    }
}







