
// Este sera el archivo origen para generar el .css desde .sass 
@use '_nosotros';
@use'_servicios';
@use'_proyectos';
@use'_contacto';
//SASS index.html
//header y footer se incluyen desde archivos externos scss
@use 'header';
@use'footer';
@import 'variables';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} /* Reseteo */



li{
    list-style: none; /* Saco viñetas de lista */
    text-decoration: none;  
    text-decoration-style: none;
}

a{
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

.section_slide{
    overflow: hidden;
    video{
        position: relative;
        display: flex;
        width: 100vw;
        @media screen and (max-width: 552px){
            width: 150vw;
            right: 100px;
        }
    } /* Ajustes de video para Responsive */

} /* Video principal de la empresa */

.title_h1{
    background-color: black;
    color: white;
    padding: 10px;
    letter-spacing: 5px;
    margin:auto;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color:map-get($colores, "orange-ingetec");
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-size: 25px;
    border-bottom-color:map-get($colores, "orange-ingetec");
    box-shadow: inset 0px 0px 5px map-get($colores, "orange-ingetec");
    border-radius: 5px;
    @media screen and (max-width: 1140px){
        font-size: 20px;
        text-align: center;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    @media screen and (max-width: 540px){
        font-size: 15px;
        text-align: center;
        border-top-width: 0.5px;
        border-bottom-width: 0.5px;
    }

} 

.container {

    img:hover{
        transition: 0.3s;
        border-bottom-width: 5px;
        border-bottom-color:map-get($colores, "orange-ingetec");
        border-bottom-style:solid;
    } /* Animacion para carrousel con isologotipos de socios estrategicos*/

}

.col{

    img{
        width: 50%;
    }
}

.carousel{
    background: white;
    position: relative;
}
.carousel__lista{
    margin-left: 50px;
    margin-right: 50px;
}
.carousel__elemento{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 20px;
    img{
        width: 300px;
        
        
    }   
}
.carousel__anterior {
    position: absolute;
    display: block;
    width: 30px;
    height: 50px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    background: none;
    color:map-get($colores, "orange-ingetec");
} 

.carousel__siguiente{
    @extend .carousel__anterior;
    right: 0;
}